{% extends "base.html" %}
{% load static %}
{% load author_tags %}


{% block title %}{{ title }}{% endblock  %}


{% block content %}
<div class="row">
    <div class="col-lg-2">
        <!-- Боковая панель -->
    </div>

    <div class="col-lg-9 col-md-12">

        <div class="row">
            {% for book in books  %}
            <div class="col-lg-4 col-md-6 mt-4 mb-5">
                <div class="card">
                    
                    <a href="{{book.get_absolute_url}}">
                        <img src={{  book.image.url  }} class="card-img-top"
                            alt="Учебник">
                        <div class="card-body">
                            <p class="card-text-name">{{  book.title  }}</p>
                            <p class="card-text-author">{% author book.author.all %}</p>
                            <a href="{{book.get_absolute_url}}" class="btn btn-primary">Подробнее</a>
                        </div>
                    </a>

                </div>
            </div>
            {% endfor %}


        </div>
    </div>

    <div class="col-lg-1 col-md-1">
        <!-- Боковая панель -->
    </div>

</div>
{% endblock content %}


{% block footer %}
    {% if header_bool %}
    <footer class="py-4 bg-dark">
        <div class="container">
            <a href="{% url "book:feedback" %}">
                <p class="m-0 text-center text-white">Обратная связь</p>
            </a>
        </div>
    </footer>
    {% endif %}
{% endblock footer %}

